/*
*   Home
*/
.text-white{
    color: #F8F7FA!important;
}
.text-light{
    color: #F8F7FA!important;
    opacity: 0.81;
}

.tagline{
    color: #7A7A7A;
}

.layer{
    img{
        width: 1.8rem;
    }
}
.home-about{
    .badge{
        font-size: 18px;
    }
  
    .mt-2{
        margin-top: 0.5rem !important;
    }
    @media (min-width: 768px){
        .pt-md-5{
            padding-top: 10rem!important;
        }
        .pt-md-3{
            padding-top: 5rem!important;
        }
        .pt-md-2{
            padding-top: 2rem!important;
        }
        .mt-md-5{
            margin-top: 5rem !important;
        }
    }
}

.odd{
    background-color: #000000;
    color: #F8F7FA;
    p{
        color: #F8F7FA;
        opacity: 0.71;
    }
    .text-danger{
        color: #FF5F8A!important;
    }
    .text-success{
        color: #0B8F99 !important;
    }
}



/*
*    Portfolio
*/
a, a:hover{
    color: #000000;
}
.portfolio-list{
    .hover-content{
        h4{
            color: #ffffff;
            line-height: 12px;
        }
        span{
            color: #ffffff;
        }
    }
}
.portfolio-img, .about-img{
    width: 100%;
}
.portfolio{
    &.dalig,&.pentalogix{
        .odd{
            color: #000000!important;
            p{
                color: #000000;
            }
        }
    }
    &.dalig{
        .odd{
            background-color: #FBF8EF;
        }
    }
    &.pentalogix{
        .odd{
            background-color: #FBF8EF;
        }
    }
}
/*
*   Skills
*/

.skills, .education{
    h4{
        line-height: 1.4em;
    }
}
.mokalu{
    .hover-content{
        background-color: #4D3A94;
    }
}
.kerubines{
    .hover-content{
        background-color: #489895;
    }
}
.epico{
    .hover-content{
        background-color: #21409A;
    }
}
.emergency{
    .hover-content{
        background-color: #2E3192;
    }
}
.thisbrand{
    .hover-content{
        background-color: #A4344E;
    }
}

/*Education*/
.education{
    .body2{
        line-height: 1.6;
    }
}
