@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
body {
  line-height: 120%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #1F1F1F;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 1 rem;
  font-family: "Roboto", sans-serif;
  line-height: 140%;
}
p-lg, .paragraph-lg {
  font-size: 24px;
}

.lead-paragraph{
  font-size: 20px;
  &.display{
    font-size: 26px;
  }
}
.body2{
  &.display{
    font-size: 24px;
  }
  font-size: 18px;
}
.body1{
  &.display{
    font-size: 20px;
  }
  font-size: 1rem;
}
.body
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}
h1, .h1{
  font-size: 40px;
  &.display{
    font-size: 80px;
  }
}
h2, .h2{
  font-size: 32px;
  &.display{
    font-size: 72px;
  }
}
h3, .h3 {
  font-size: 28px;
  &.display{
    font-size: 64px;
  }
}

h4, .h4 {
  font-size: 24px;
  &.display{
    font-size: 56px;
  }
}

h5, .h5 {
  font-size: 20px;
  &.display{
    font-size: 48px;
  }
}

h6, .h6 {
  font-size: 16px;
  &.display{
    font-size: 40px;
  }
}

/* Color Style */
.primary{
  color: #F74D70;
}
.secondary{
  color: #5DE3F5;
}
/* Button style */
.btn {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn:active {
  box-shadow: none;
}
.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}
.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #41228e;
  color: #fff;
}
.btn-primary:active {
  background: #542cb7 !important;
}
.btn-primary:hover {
  background: #542cb7;
}
.btn-primary.focus, .btn-primary.active {
  background: #542cb7 !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: bold;
}
.btn-transparent:active, .btn-transparent:hover {
  color: #41228e;
}

.dark{
  &.btn-outline-secondary,&.btn-outline-secondary{
    color: #F8F7FA;
    background-color: transparent;
    background-image: none;
    border-color: #F8F7FA;
    border: 1px solid;

    padding: 0.5em 2em;
    border-radius: 5em;
    font-weight: 800;
    font-size: 1rem;
    font-family: "Roboto", san-serif;

  }
}

.badge{
  padding: 0.5em 2em;
  border-radius: 5em;
  font-weight: 800;
  font-size: 1rem;
  font-family: "Roboto", san-serif;
}
a.badge, a.badge:hover{
  color: #1f1f1f;
}
.bg-danger, .bg-danger:hover {
  background-color: #FF799D !important;
  color: #6B172E !important;
}
a.bg-danger:hover{
  background-color: #FF799D !important;
  color: #6B172E !important;
}
body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #542cb7;
  color: #fff;
}

::selection {
  background: #542cb7;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: "Lora", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #110D14 !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #41228e !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #1f1f1f !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-primary{
  font-family: "Roboto", sans-serif;
}

.font-secondary {
  font-family: "Lora", serif !important;
}

.font-tertiary {
  font-family: "Lora", serif !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 80px;
  width: 80px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}
.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}
.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}
.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}
.card-header {
  border: 0;
}
.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 40px 130px;
  transition: 0.3s ease;
}
.navigation.nav-bg {
  background-color: #110D14;
  padding: 0 100px;
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background-color: #110D14;
  }
}

.navbar .nav-item .nav-link {
  font-family: "Roboto", san-serif;
  text-transform: uppercase;
  padding: 8px 0;
  display: inline-block;
}
.navbar .nav-item{
  padding: 15px;
}
.navbar .nav-item.active{ 
  a{
    font-weight: bold;
    border-bottom: 2px solid #0C9FAA;
    padding: 8px 0;
  }
  >.nav-link{
   color: #F8F7FA !important; 
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #F8F7FA;
}

.hero-area {
  .networks{
    right: 0;
    bottom: 7rem;
  }
  .call-to-action{
    padding-top: 9rem;
  }
  padding: 18rem 0 9rem;
  position: relative;
  background-image: url(../../public/images/backgrounds/bottom-planet.png) !important;
  background-position: bottom center !important;
 // background-clip: content-box;         	
  background-color: #110D14 !important;      
  background-repeat: no-repeat !important;    
  background-size: 100% 70% !important;
}

@media (max-width: 767px) {
  .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
    background-size: auto !important;
  }
}
.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Main Cover */

.cover-text{
  h2{
    opacity: 81%;
  }
  &.font-secondary{
    opacity: 81%;
  }  
  opacity: 95%;
  color: #F8F7FA;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}
.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}
.education{
  background-image: url(../../public/images/backgrounds/right-top-galaxy.jpg) !important;
  background-position: right top !important;   	 
  background-repeat: no-repeat !important;   
}

/* /education */
/* service */
.hover-bg-primary {
  transition: 0.3s ease;
}
.hover-bg-primary:hover {
  background: #41228e;
}
.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: 0.3s ease;
  background: #41228e;
}
.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: 0.2s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}
.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1.1);
}
.hover-wrapper:hover img {
  transform: scale(1);
}
.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  background-color: #110D14;
  padding: 1em;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}
.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}
.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}
.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}
.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}
.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
  background-image: url(../../public/images/backgrounds/main-footer.jpg) !important;
  background-position: center bottom !important;   	
  background-color: #110D14 !important;      
  background-repeat: no-repeat !important;   
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}
.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid #41228e;
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}

.content * {
  margin-bottom: 20px;
}
.content strong {
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: normal;
  color: #1f1f1f;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}
@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}
.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}
.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg);
}
.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}
.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 9rem 0 0;
}
.page-title .container {
  position: relative;
  z-index: 1;
}
.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}
.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}
.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}
.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg);
}
.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}
.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}
.filter-controls li.active {
  font-weight: bold;
}

.navbar-dark .navbar-brand img{
  width: 3em;
}